@font-face {
    font-family: 'ALK Tommaso';
    src: url('../fonts/tommaso/alk-tommaso-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/tommaso/alk-tommaso-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/tommaso/alk-tommaso-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/tommaso/alk-tommaso-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/tommaso/alk-tommaso-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/tommaso/alk-tommaso-webfont.svg#alk_tommasoregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'FiraSans-BlackItalic';
    src: url('../fonts/englishfont/FiraSans-BlackItalic.eot');
    src: url('../fonts/englishfont/FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/englishfont/FiraSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/englishfont/FiraSans-BlackItalic.woff') format('woff'),
        url('../fonts/englishfont/FiraSans-BlackItalic.ttf') format('truetype'),
        url('../fonts/englishfont/FiraSans-BlackItalic.svg#FiraSans-BlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




