a {
	text-decoration: none; color: black; }
<script src="https://kit.fontawesome.com/3deec821c6.js" crossorigin="anonymous"></script> 
body {
	margin: 10px 0 0 30px;
}
/*header style*/
.htmllogo {
	display: inline-block;
	vertical-align: middle;	
}

.navigation {
	display: inline-block;
	vertical-align: middle;
}
.nav {
	display: inline-block;
	font-family:  "BPG LE Studio 02 Caps", sans-serif;
	margin-left: 35px;
	font-size: 22px;
	font-weight: bold;
}
.specnav {
	color: #EE4036;
}
.nav1 {
	color: #3D58A6;
}
/*bannerstyle*/
.conteinerbanner {
	margin: 40px 0 0 30px;
	height: 460px;
	width: 1170px; 
	display: inline-block;
}
/*blogstyle*/
.blogtitle {
	font-size: 24px;
	font-family: 'ALK Tommaso';
	font-weight: bold;
	margin-top: 110px;
	margin-bottom: 29px;
}
.blog {
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	display: inline-block;
}
.blog2 {
	margin-left: 60px;
}
.blogtitle1 {
	font-size: 20px;
	color: #3D58A6;
	font-weight: bold;
	font-family: "ALK Life", sans-serif;
}
.blogphoto {
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
}
.blogtext {
	display: inline-block;	
	width: 300px;
	height: 145px;
	vertical-align: middle;
	padding: 20px 0 0 20px;
	font-size: 20px;
	line-height: 30px;
}
/*footericonstyle*/
.footericon {
	font-size: 40px;
	color: #3D58A6;
	display: inline-block;
}
.line {
	background-color:#3D58A6;
	display: inline-block;
	height: 40px;
	width: 2px;
	vertical-align: top;
	margin-left: 30px;
	margin-right: 30px;
}
footer {
	margin-left: 30.6px;
	margin-top: 70px;
}
/*newpagestyle*/
article {
	margin-top: 60px;
}
/*datestyle*/
.dataconteiner {
	 width: 56px;
    height: 56px;
    margin-left: 36px;
    margin-top: 31.1px;
    background-color: #3d58a6;
    color: #ffff;
    font-size: 40px;
    padding-top: 8px;
    padding-left: 4px;
}
.data {
	margin-left: 40px;
	font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
/*pharagraphstyle*/
.Paragraphconteiner {
	height: 310px;
}
.Paragraphtitle {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	font-style: italic;
	letter-spacing: 3px;
}
.Paragraphphoto {
	vertical-align: top;
}
.text {
	display: inline-block;
	height: 360px;
	width: 930px;
	vertical-align: middle;
	line-height: 15px;
	margin-left: 50px;
	text-indent: 30px;
	line-height: 20px;
}
.titleconteiner{
	margin-top: 5px;
}
.Paragraphtext1 {
	font-family: 'ALK Tommaso';
	 font-size: 22px;
	
}
.Paragraphtext2 {
	font-family: 'Yusei Magic', sans-serif;
}
.Paragraphtext3 { 
	font-family: 'FiraSans-BlackItalic';
}
/*contactpagestyle*/
/*mainconteinterstyle*/
.contactconteiner {
	width: 1366px;
	/*height: 560px;*/
	background-color: #E6E6E6;
	vertical-align: middle;
	display: inline-block;
}
}
/*contracinfostyle*/
.infoconteiner {
	display: inline-block;
	width: 275px;
	height: 101px;
	padding left: 10px;
	
}

.contacttitle {
	color: #3D58A6;
	font-size: 20px;
	font-weight: bolder;
}
.contacticon {
	font-size: 20px;
	color: #3D58A6;
	display: inline-block;
}

.addres::before {
  content:  "მისამართი:";
  			font-size: 20px;
  			color: #808080;
}
.infotitle {
	display: inline-block;
	font-size: 15px;
}			
.number::before {
  content:  "ტელ::";
  			font-size: 20px;
  			color: #808080;
 }
 
 .mail::before {
  content:  "ელ. ფოსტა::";
  			font-size: 20px;
  			color: #808080;
 }
/*mapconteinerstyle*/
.maps {
	display: inline-block;
	margin-left: 422px;
	margin-bottom: 66px;
	margin-top: 20px;
}
.mapsphoto {
	width: 800px;
	height: 465px;
	display: inline-block;
}
